<div class="mt-5">
        <h1>Đơn đang chờ duyệt</h1>
</div>
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ngày giờ</th>
      <th scope="col">Đơn đặt</th>
      <th scope="col">Người mua</th>
      <th scope="col">Đơn giá</th>
       <th scope="col">Xác nhận đơn</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">*</th>
      <td>*</td>
      <td>-</td>
      <td>-</td>
      <td>
        <div>
            <button type="button" class="btn btn-success">Done</button>
            <button type="button" class="btn btn-danger">Hủy đơn</button>
        </div>
      </td>
    </tr>
  </tbody>
  
</table>
</div>