<nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark">
        <div class="container"><a class="navbar-brand logo" href="/">MÓN ĂN TÔI YÊU&nbsp;</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-grid-cards.html">Nhà hàng</a></li>
                    <li class="nav-item"><a class="nav-link border rounded-0 RR" href="/login">ĐĂNG NHẬP</a></li>
                    <li class="nav-item"><a class="nav-link border rounded-0 linkdangky" href="/login/register">ĐĂNG KÝ</a></li>
                </ul>
            </div>
        </div>
    </nav>