 <section class="clean-block clean-cart darkvkl">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">GIỎ HÀNG</h2>
                <p>Các mặt hàng bạn đã thêm vào giỏ</p>
            </div>
            <div class="border rounded-0 shadow-lg content">
                <div class="row g-0 rowcart">
                    <div class="col-md-12 col-lg-8">


                        <div class="items">
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image1" src="/assets/img/tech/image2.jpg" width="168" height="352"></div>
                                    </div>
                                    <div class="col-md-5 product-info">
                                        <div class="product-specs"><span>Tên món ăn</span></div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block" for="quantity">Số lượng</label><input type="number" id="number-1" class="form-control quantity-input" value="1"></div>
                                    <div class="col-6 col-md-2 price">
                                        <div><span>Thành tiền:</span></div>
                                        <div><span>0</span></div>
                                    </div>
                                </div>  
                            </div>
                        </div>

                    
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="bg-body-tertiary summary">
                            <h3 class="text-bg-success">Hóa đơn</h3>
                            <h4 class="border-primary-subtle" style="border-color: var(--bs-primary-border-subtle);"><span class="text">Tổng:&nbsp;&nbsp;</span><span class="price">0</span></h4>
                            <h4><span class="text">Phí ship:&nbsp;</span><span class="price">0</span></h4>
                            <h4><span class="text">Tổng thanh toán:&nbsp;</span><span class="price">0</span></h4>
                            <h4 class="border-primary-subtle" style="border-color: var(--bs-primary-border-subtle);"><span class="text">ĐC: 282 Định Công</span></h4><button class="btn btn-primary btn-lg d-block w-100eww" type="button">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>