<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Món ăn tôi yêu</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">

    
</head>

<body>
    <div>
        {{> header}}
    </div>

    <div>
            {{{body}}}
    </div>

    <div>
        
    </div>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/pikaday.min.js"></script>
    <script src="/assets/js/theme.js"></script>
   
</body>
<script>
    
document.addEventListener('DOMContentLoaded', function() {
    // Lấy element badge từ DOM
    const badge = document.getElementById('badge');

    // Khởi tạo biến đếm
    var counts = 0;

    // Lấy tất cả các button có class bt1
    const increaseButtons = document.querySelectorAll('.bt1');

    // Gắn sự kiện click cho mỗi button
    increaseButtons.forEach(button => {
        button.addEventListener('click', function() {
            // Tăng giá trị biến đếm
            counts++;

            // Hiển thị giá trị mới trên badge
            badge.innerText = counts;
        });
    });
});




</script>  
  
</html>



 